@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-image-container {
    background-image: url('./images/bg.png'); /* Correct image path */
    background-size: cover;
    background-position: center;    
  }


  .cloud-border {
    position: relative;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;
  }
  
  .cloud-border::before,
  .cloud-border::after {
    content: '';
    position: absolute;
    background-color: #fff;
  }
  
  .cloud-border::before {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: -10px;
    left: -10px;
  }
  
  .cloud-border::after {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -20px;
    left: 30px;
  }
  

  /* .button {
    background-color: #333;
    color: white;
    border: 1px solid #555;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .button:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
   */
  
  